<div ng-repeat="screen in selectedScreenImg">    

                <h4>{{screen.screenName}}</h4>
               
            
             <div ng-if="screen.imagesURL['EN']">
                <div>English</div>
                <hr style=" margin-top: 10px; margin-bottom: 10px; border: 0; border-top: 1px solid #47748b;">
                <p>
                    <a  ng-repeat="(key,value) in screen.imagesURL['EN']" class="fancybox-thumbs" data-fancybox-group="thumb" href="{{getUrl(value.imgUrl)}}"><img src="{{getUrl(value.imgUrl)}}" alt="" /></a>

                </p>
                </div>

                <div ng-if="screen.imagesURL['FR']">
                <div>French</div>
                <hr style=" margin-top: 10px; margin-bottom: 10px; border: 0; border-top: 1px solid #47748b;">
                <p>
                    <a  ng-repeat="(key,value) in screen.imagesURL['FR']" class="fancybox-thumbs" data-fancybox-group="thumb" href="{{getUrl(value.imgUrl)}}"><img src="{{getUrl(value.imgUrl)}}" alt="" /></a>

                </p>
                </div>


                 <div ng-if="screen.imagesURL['NL']">
                <div>Dutch</div>
                <hr style=" margin-top: 10px; margin-bottom: 10px; border: 0; border-top: 1px solid #47748b;">
                <p>
                    <a  ng-repeat="(key,value) in screen.imagesURL['NL']" class="fancybox-thumbs" data-fancybox-group="thumb" href="{{getUrl(value.imgUrl)}}"><img src="{{getUrl(value.imgUrl)}}" alt="" /></a>

                </p>
                </div>

                <div ng-if="screen.imagesURL['DE']">
                <div>German</div>
                <hr style=" margin-top: 10px; margin-bottom: 10px; border: 0; border-top: 1px solid #47748b;">
                <p>
                    <a  ng-repeat="(key,value) in screen.imagesURL['DE']" class="fancybox-thumbs" data-fancybox-group="thumb" href="{{getUrl(value.imgUrl)}}"><img src="{{getUrl(value.imgUrl)}}" alt="" /></a>

                </p>
                </div>



            </div>

               

            </div>
            </div>
        </div>